<div class="ghost section"></div>
<div class="heading parbase section text">
    <h1 class="">
        НОСКИ
    </h1>
</div>
<div class="parbase section text">
    <p>Носки классического или спортивного фасона — выбирайте новые модели базовых черного и белого цветов или добавьте в ваш образ «изюминку», дополнив его носками с цветными узорами и принтами.</p>
</div>
<div class="productlisting parbase section">


    <!--PAGE:productListing -->
    <div class="catalogwarning parbase">

    </div>

    <!-- Product filters -->
    <div class="row">

        <div class="product-filters sticky-on-scroll" data-sticky-width="100%" data-sticky-stop-offset="25" data-sticky-fill="true" style="">
            <div class="row">
                <div class="totop">
                    <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;sort=stock&amp;offset=0&amp;page-size=90#" class="toptrigger">Вернуться наверх</a>
                    <a href="http://www2.hm.com/ru_ru/index.html" class="filterlogo">Вернуться к началу</a>
                </div>

                <div class="filteractions clearfix">
                    <ul class="triggers clearfix">
                        <!--  category condition  -->
                        <li class="js-clickexpand clickexpand category hidden" data-expandoptions="{&quot;toggle&quot;:&quot;true&quot;}">
                            <a href="javascript:;" class="trigger js-expandtrigger"><strong>Категория</strong></a>
                            <div class="expandtarget js-expandtarget categories">
                                <form class="js-product-list-filter-category-form" data-submit-on-toggle="true" method="get" data-filtered-products-url="/ru_ru/muzhchiny/vybrat-kategoriyu/noski/_jcr_content/main/productlisting.display.html">


                                    <div data-category-filter="top-level">
                                        <ul class="menu">
                                            <li class="item" data-filter-param-name="product_type">
                                                <div class="menu-sub-item sub-item-title">
                                                    <span class="menu-link">
                                                        Носки
                                                        <span class="category-selected hidden">
                                                            (<span class="category-selected-label" data-selected-label-translation="selected"></span>)
                                                        </span>
                                                    </span>
                                                </div>
                                                <ul class="category-inputlist category-inputlist-checkboxes menu" data-category-filter="men_socks">

                                                    <li class="menu-sub-item">
                                                        <label for="all">
                                                            <input type="checkbox" class="category-inputs-input category-inputs-checkbox category-inputs-checkbox-all outside-viewport checked" name="product-type" id="all" value="men_socks" checked="checked">
                                                            <div class="detailbox detailbox-value category-detailbox">
                                                                <span></span>
                                                            </div>
                                                            <span class="category-inputlist-link menu-link">
                                                                Все
                                                            </span>
                                                        </label>
                                                    </li>


                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="clear-categories">
                                            <a class="button button-primary close-categories" href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;sort=stock&amp;offset=0&amp;page-size=90#">Закрыть</a>
                                            <button type="reset" class="button button-secondary clearcategories" disabled="disabled">Удалить фильтры по категориям</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </li>
                        <li class="js-clickexpand clickexpand filter " data-expandoptions="{&quot;toggle&quot;:&quot;true&quot;}">
                            <a href="javascript:;" class="trigger js-expandtrigger"><strong>Фильтр</strong></a>
                            <div class="expandtarget js-expandtarget filters">
                                <form class="js-product-list-filter-form" method="get" data-productlist-page="true" data-filtered-products-url="/ru_ru/muzhchiny/vybrat-kategoriyu/noski/_jcr_content/main/productlisting.display.html">


                                    <div class="row">
                                        <div class="cols clearfix">


                                            <div class="col">
                                                <h4>Цвет</h4>
                                                <ul class="inputlist grid" data-filter-param-name="colorWithNames">

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=000000_%D1%87%D0%B5%D1%80%D0%BD%D1%8B%D0%B9" title="Черный" class="filter-option" data-value="000000_%D1%87%D0%B5%D1%80%D0%BD%D1%8B%D0%B9">
                                                            <span class="pattern" style="background:#000000;"></span> Черный
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=0000ff_blue" title="Blue" class="filter-option" data-value="0000ff_blue">
                                                            <span class="pattern" style="background:#0000ff;"></span> Blue
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=008000_green" title="Green" class="filter-option" data-value="008000_green">
                                                            <span class="pattern" style="background:#008000;"></span> Green
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=40e0d0_turquoise" title="Turquoise" class="filter-option" data-value="40e0d0_turquoise">
                                                            <span class="pattern" style="background:#40e0d0;"></span> Turquoise
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=800080_purple" title="Purple" class="filter-option" data-value="800080_purple">
                                                            <span class="pattern" style="background:#800080;"></span> Purple
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=808080_%D1%81%D0%B5%D1%80%D1%8B%D0%B9" title="Серый" class="filter-option" data-value="808080_%D1%81%D0%B5%D1%80%D1%8B%D0%B9">
                                                            <span class="pattern" style="background:#808080;"></span> Серый
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=f5f5dc_beige" title="Beige" class="filter-option" data-value="f5f5dc_beige">
                                                            <span class="pattern" style="background:#f5f5dc;"></span> Beige
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=ff0000_red" title="Red" class="filter-option" data-value="ff0000_red">
                                                            <span class="pattern" style="background:#ff0000;"></span> Red
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=ffa500_orange" title="Orange" class="filter-option" data-value="ffa500_orange">
                                                            <span class="pattern" style="background:#ffa500;"></span> Orange
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=ffc0cb_pink" title="Pink" class="filter-option" data-value="ffc0cb_pink">
                                                            <span class="pattern" style="background:#ffc0cb;"></span> Pink
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=ffff00_yellow" title="Yellow" class="filter-option" data-value="ffff00_yellow">
                                                            <span class="pattern" style="background:#ffff00;"></span> Yellow
                                                        </a>
                                                    </li>

                                                    <li>

                                                        <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html?product-type=men_socks&amp;colorWithNames=ffffff_white" title="White" class="filter-option" data-value="ffffff_white">
                                                            <span class="pattern" style="background:#ffffff;"></span> White
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>


                                            <div class="col">
                                                <h4>Размер</h4>
                                                <ul class="inputlist row-cols">


                                                    <li class="row-col">
                                                        <ul data-filter-param-name="sizes" class="inputlist rows">


                                                            <li>
                                                                <label for="filter-size-589_37/39">
                                                                    <input id="filter-size-589_37/39" type="checkbox" value="589_37/39">


                                                                    <div class="detailbox detailbox-dualvalue">
                                                                        <span>
                                                                            <span>37</span>
                                                                            <span>39</span>
                                                                        </span>
                                                                    </div>


                                                                </label>
                                                            </li>


                                                        </ul>
                                                    </li>
                                                    <li class="row-col">
                                                        <ul data-filter-param-name="sizes" class="inputlist rows">

                                                            <li>
                                                                <label for="filter-size-623_40/42">
                                                                    <input id="filter-size-623_40/42" type="checkbox" value="623_40/42">


                                                                    <div class="detailbox detailbox-dualvalue">
                                                                        <span>
                                                                            <span>40</span>
                                                                            <span>42</span>
                                                                        </span>
                                                                    </div>


                                                                </label>
                                                            </li>


                                                        </ul>
                                                    </li>
                                                    <li class="row-col">
                                                        <ul data-filter-param-name="sizes" class="inputlist rows">

                                                            <li>
                                                                <label for="filter-size-652_43/45">
                                                                    <input id="filter-size-652_43/45" type="checkbox" value="652_43/45">


                                                                    <div class="detailbox detailbox-dualvalue">
                                                                        <span>
                                                                            <span>43</span>
                                                                            <span>45</span>
                                                                        </span>
                                                                    </div>


                                                                </label>
                                                            </li>

                                                        </ul>
                                                    </li>


                                                </ul>
                                            </div>


                                            <div class="col">
                                                <h4>Отдел</h4>
                                                <ul class="inputlist rows" data-filter-param-name="concepts"></ul>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="row clearfilters">
                                        <button class="button button-secondary js-filters-clear" disabled="disabled">УДАЛИТЬ ВСЕ</button>
                                        <a class="button js-filters-close" href="javascript:;">Закрыть</a>
                                    </div>

                                    <input type="hidden" name="image" value="" class="filter-toggle-images-value" data-filter-param-name="image">


                                </form>
                            </div>
                        </li>
                        <li class="js-clickexpand clickexpand sort-by " data-expandoptions="{&quot;toggle&quot;:&quot;true&quot;}">
                            <a href="javascript:;" class="trigger js-expandtrigger"><strong>Сортировать</strong></a>
                            <div class="expandtarget js-expandtarget sort">

                                <ul class="menu toggleCurrent">
                                    <li class="menu-sub-item current">
                                        <span class="menu-link" data-value="stock">Лучшее соответствие</span>
                                    </li>
                                    <li class="menu-sub-item">
                                        <span class="menu-link" data-value="newProduct">Новинки</span>
                                    </li>
                                    <li class="menu-sub-item">
                                        <span class="menu-link" data-value="ascPrice">Самая низкая цена</span>
                                    </li>
                                    <li class="menu-sub-item">
                                        <span class="menu-link" data-value="descPrice">Самая высокая цена</span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /Product filters -->
    </div>

    <!-- ОТОБРАЖАЕТСЯ -->
    <div class="row">
        <div class="model-and-product-switch">
            <div class="grid col-6">

                <ul>
                    <li class="right">
                        <span class="filterinfo">
                            <strong>ОТОБРАЖАЕТСЯ</strong>
                            <span class="load-count">63</span> из
                            <span class="total-count">63</span> товаров
                        </span>
                    </li>
                </ul>

            </div>
            <div class="grid col-3 filter-group toggle-images">

            </div>
        </div>
    </div>

    <div class="product-items-wrapper">
        <section class="product-items big productlist-row">
            <div class="product-items-content">
                {{# each products}}
                <div class="row">
                    {{# each this}}
                    <div class="grid col-3">
                        <article class="product-item club-price-item" data-articlecode="0301227002">
                            <a href="http://www2.hm.com/ru_ru/productpage.0301227002.html" title="10 пар носков" class="product-item-link">
                                <img width="222" height="333" src="{{this.imagePath}}" class="product-item-image">
                                <button type="button" class="favorite icon icon-favorites js-favorite"
                                        data-saved-text="СОХРАНЕНО КАК ИЗБРАННОЕ"
                                        data-not-saved-text="СОХРАНИТЬ КАК ИЗБРАННОЕ">
                                    СОХРАНИТЬ КАК ИЗБРАННОЕ
                                </button>

                            </a>

                            <div class="product-item-details">
                                <h3 class="product-item-heading">
                                    <a href="http://www2.hm.com/ru_ru/productpage.0301227002.html">{{this.title}}</a>
                                </h3>

                                <strong class="price">
                                    $ &nbsp;{{this.price}}
                                </strong>


                                <a class="button button-big button-buy product-details-favorite" href="/add-to-cart/{{this._id}}"
                                   data-not-added-text="Вы должны выбрать имеющийся в наличии размер"
                                   data-added-text="Товар добавлен" data-shopping-bag-text="Корзина"
                                   data-shopping-bag-failed-text="При добавлении товара в корзину произошла ошибка"
                                   data-quantity-text="Количество" data-color-text="Цвет" data-size-text="Размер"
                                   data-default-quantity="1" data-sold-out-text="Распродано"
                                   data-not-added-sold-out-text="Изделие данного цвета распродано во всех размерах">Добавить в корзину</a>


                                <!--<ul class="list-swatches">
                                    <li class="item">
                                        <img class="swatch" src="./content/hmprod(1)" alt="Черный" title="Черный">
                                    </li>
                                </ul>-->
                            </div>
                        </article>
                    </div>
                    {{/ each}}
                    <!-- /Product item -->
                </div>
                {{/ each}}
            </div>
        </section>
    </div>

    <a class="load-more-link button infinite-scroll"
       data-offset-query-param="offset"
       data-page-size-query-param="page-size"
       data-count-selector=".product-item"
       data-target-selector=".product-items-wrapper"
       data-per-page="30"
       data-per-page-query-param="per_page"
       data-page-query-param="page"
       data-load-more-url="/ru_ru/muzhchiny/vybrat-kategoriyu/noski/_jcr_content/main/productlisting.display.html"
       data-is-product-list="true" href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski/_jcr_content/main/productlisting.display.html"
       aria-hidden="true">Загрузить еще изделия</a>
    <div class="clearfix"></div>
</div>


<script type="text/javascript">
    $(".js-expandtrigger").click(function () {
        $(this).next().toggle();
    });

    $(".button-buy").click(function (e) {
        e.preventDefault();
        $.get($(this).attr('href'), function (data, status) {
            $('.minicart').html(data);
        });
    });
</script>