<div class="breadcrumb">
    <nav class="breadcrumbs">
        <!-- Breadcrumbs -->
        <ul class="breadcrumbs-list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="http://www2.hm.com/ru_ru/index.html" itemprop="item">
                    <span itemprop="name">HM.com</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li class="breadcrumb-list-item " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="http://www2.hm.com/ru_ru/muzhchiny.html" itemprop="item">
                    <span itemprop="name">Мужчины</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            <li class="breadcrumb-list-item " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="name">Выбрать категорию</span>
                <meta itemprop="position" content="3">
            </li>
            <li class="breadcrumb-list-item breadcrumb-list-item-current" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span itemprop="name">Носки</span>
                <meta itemprop="position" content="4">
            </li>
        </ul>
    </nav>
</div>