<div class="shopping-bag rollover-popdown is-loaded">
    <a href="/shopping-cart" class="goto-shopping-bag rollover-toggle">
        Корзина
        (<span class="shoppingbag-item-count">{{session.cart.totalQty}}</span>)
    </a>
    <div class="shopping-bag-rollover row popdown"></div>
</div>