<footer class="footer-global responsive" style="display: table-row;">
    <!-- Footer -->
    <div class="layout">
        <!--AEMPUBPRDEU34-->
        <div class="four modules footer-menu footer-content">
            <nav class="footer-category">
                <h4 class="footer-heading js-toggle-trigger">КУПИТЬ</h4>
                <ul class="list">
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/zhenshchiny.html">Женщины</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/muzhchiny.html">Мужчины</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/deti.html">Дети</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/home.html">Home</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-category">
                <h4 class="footer-heading js-toggle-trigger">ИНФОРМАЦИЯ О КОМПАНИИ</h4>
                <ul class="list">
                    <li class="item">
                        <a class="link" href="http://career.hm.com/content/hmcareer/ru_ru.html">Карьера в H&amp;M</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://about.hm.com/en/About.html">О H&amp;M</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://about.hm.com/en/About/Sustainability.html">Экологическая и социальная ответственность</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://about.hm.com/en/news/newsroom.html">Пресса</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://about.hm.com/en/About/Investor-Relations.html">Для инвесторов</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://about.hm.com/en/About/Corporate-Governance.html">Корпоративная ответственность</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-category">
                <h4 class="footer-heading js-toggle-trigger">ПОМОЩЬ</h4>
                <ul class="list">
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/customer-service.html">Служба поддержки</a>
                    </li>
                    <li class="item">
                        <a class="link" href="https://www2.hm.com/ru_ru/login">Мой H&amp;M </a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/customer-service/shopping-at-hm/store-locator.html">Найти магазин</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/customer-service/legal-and-privacy.html">Юридическая информация и политика конфиденциальности</a>
                    </li>
                    <li class="item">
                        <a class="link" href="http://www2.hm.com/ru_ru/customer-service/contact.html">Контакты</a>
                    </li>
                </ul>
            </nav>
            <section class="footer-newsletter">
                <div class="newsletter parbase newslettersignupform">
                    <h4 class="footer-heading">ПОДПИСАТЬСЯ НА НОВОСТНУЮ РАССЫЛКУ</h4>
                    <p class="text">Зарегистрируйтесь сейчас и получите скидку 25% на один товар в онлайн-заказе</p>
                    <a href="http://www2.hm.com/ru_ru/customer-service/newsletter.html" class="button">ПОДПИСАТЬСЯ</a>
                </div>
            </section>
        </div>
        <ul class="footer-social footer-content">
            <li class="item">
                <a href="https://www.facebook.com/hm" target="_blank" title="Facebook" class="hidden-text icon icon-social-facebook-white">
                    Facebook
                </a>
            </li>
            <li class="item">
                <a href="http://twitter.com/hmrussia" target="_blank" title="Twitter" class="hidden-text icon icon-social-twitter-white">
                    Twitter
                </a>
            </li>
            <li class="item">
                <a href="http://instagram.com/hm" target="_blank" title="Instagram" class="hidden-text icon icon-social-instagram-white">
                    Instagram
                </a>
            </li>
            <li class="item">
                <a href="http://www.youtube.com/user/hennesandmauritz" title="Youtube" target="_blank" class="hidden-text icon icon-social-youtube-white">
                    Youtube
                </a>
            </li>
            <li class="item">
                <a href="https://plus.google.com/+HM/posts" title="Googleplus" target="_blank" class="hidden-text icon icon-social-googleplus-white">
                    Googleplus
                </a>
            </li>
            <li class="item">
                <a href="http://pinterest.com/hm" target="_blank" title="Pinterest" class="hidden-text icon icon-social-pinterest-white">
                    Pinterest
                </a>
            </li>
            <li class="item">
                <a class="hidden-text icon icon-social-vk-white" target="_blank" title="Vkontakte" href="http://www.vk.com/hmrussia">Vkontakte</a>
            </li>
        </ul>
        <div class="footer-copyright footer-content">
            <p class="text js-footer-truncate truncated-text">
                Концепция H&amp;M - модная и качественная одежда по лучшей цене с заботой о природе и человеке. Компания H&amp;M была основана в Швеции в 1947 году и стала одним из лидеров среди международных
            </p>
            <button class="js-footer-more link" data-read-less-label="READ LESS" aria-hidden="false">READ MORE</button>
        </div>
        <a href="http://www2.hm.com/ru_ru/index.html" class="footer-logotype icon icon-hm-white hidden-text">H&amp;M</a>
    </div>
</footer>