<header class="header-global">
    <div class="warehousemessage"></div>
    <div class="wrapper">
        <a href="/" title="HM.com" class="logotype hidden-text">HM.com</a>
        <div class="parbase topnav">
            <nav class="primary-menu">
                <ul>
                    <li>
                        <a href="http://www2.hm.com/ru_ru/zhenshchiny.html">Женщины</a>
                    </li>
                    <li class="current">
                        <a href="http://www2.hm.com/ru_ru/muzhchiny.html">Мужчины</a>
                    </li>
                    <li>
                        <a href="http://www2.hm.com/ru_ru/deti.html">Дети</a>
                    </li>
                    <li>
                        <a href="http://www2.hm.com/ru_ru/home.html">Home</a>
                    </li>
                    <li>
                        <a href="http://www2.hm.com/ru_ru/sale.html">РАСПРОДАЖА</a>
                    </li>
                </ul>
            </nav>
        </div>

        {{> service-item }}

        <nav class="session-menu">
            <!-- Session menu -->
            <div class="session-menu-top-row">
                <a href="user/favourites" class="js-favorite-entry-point favorite-entry-point is-favorite icon-favorites-dark icon">
                    Избранное
                </a>

                <span class="parbase minicart">
                    {{> cart }}
                </span>

            </div>
            <span id="logn">
                {{> sign-popup }}
            </span>
            

            <div class="country-info">
                <div class="countrylanguage parbase">
                    <div class="country-info">
                        <a class="country-name overlay-trigger " data-layout="confirm" data-modal-scrollup="false" href="http://www2.hm.com/ru_ru/_jcr_content/header/countrylanguage.changecountry.html">Россия</a> | Руб
                    </div>
                </div>
            </div>
        </nav>

        <div class="autosuggestsearch parbase">
            <div id="search-field" class="ui-widget">
                <form method="get" action="/index/search/">
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                    <input id="main-search" data-url="/index/search"
                           type="text"
                           data-test="false"
                           name="q"
                           placeholder="Искать товары"
                           minlength="3"
                           maxlength="200"
                           data-autocomplete-disabled="false"
                           class="ui-autocomplete-input"
                           autocorrect="off"
                           spellcheck="false"
                           autocomplete="off">
                </form>
                <span class="magnify"></span>
                <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul>
            </div>
        </div>
        <!--<span class="js-cookie-message-url" data-message-url="/ru_ru/_jcr_content/header.cookies.html"></span>-->
    </div>
</header>


<script type="text/javascript">
    $(".js-open-signin-signup").click(function (e) {
        e.preventDefault();
        $(this).next().toggle();
    });

    $(".signin-button").click(function (e) {
        e.preventDefault();

        $.post('/user/signin', $(this).closest('form').serialize())
            .done(function (data) {
                $("#logn").html(data);
            })
    });
</script>