<nav class="section-menu">
    <ul>
        <li>
            <h2> <a href="http://www2.hm.com/ru_ru/muzhchiny.html">Мужчины</a> </h2>
            <div class="section-menu-sub-menu">
                <div class="section-menu-sub-menu-inner">
                    <div class="section-menu-categories">
                        <div class="section-menu-category">
                            <h4 class=""> <span>Новые поступления</span> </h4>
                            <ul style="display: block;">
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/novye-postupleniya/odezhda.html"> Одежда </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/novye-postupleniya/obuv-i-aksessuary.html"> Обувь и аксессуары </a> </li>
                            </ul>
                        </div>
                        <div class="section-menu-category">
                            <h4 class=""> <span>Акции</span> </h4>
                            <ul style="display: block;">
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/deals/weeklytreat.html"> Bещь недели </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/deals/ru81-summer-deal.html"> Скидки до 30% – идеальные летние образы </a> </li>
                            </ul>
                        </div>
                        <div class="section-menu-category">
                            <h4 class=""> <span>Выбрать категорию</span> </h4>
                            <ul style="display: block;">
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/view-all.html"> Просмотреть все </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/aksessuary.html"> Аксессуары </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/basics.html"> Базовые модели </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/belyo.html"> Белье </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/bryuki.html"> Брюки </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/dzhinsy.html"> Джинсы </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/kardigany-i-dzhempery.html"> Кардиганы и джемперы </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/kurtki-i-palto.html"> Куртки и пальто </a> </li>
                                <li class="section-menu-subdepartment current">
                                    <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/noski.html"> Носки </a>
                                    <ul></ul>
                                </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/obuv.html"> Обувь </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/odezhda-dlya-plavaniya.html"> Одежда для плавания </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/pidzhaki-i-kostyumy.html"> Пиджаки и костюмы </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/rubashki.html"> Рубашки </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/h-m-sport.html"> Спортивная одежда </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/futbolki-i-majki.html"> Футболки и майки </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/hudi-i-tolstovki.html"> Худи и толстовки </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/extended-sizes.html"> Широкий размерный ряд </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kategoriyu/shorty.html"> Шорты </a> </li>
                            </ul>
                        </div>
                        <div class="section-menu-category">
                            <h4 class=""> <span>Избранное</span> </h4>
                            <ul style="display: block;">
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/akcii-i-predlozheniya/ru95-vacation-shop.html"> Гардероб для отпуска от 499 Руб </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/akcii-i-predlozheniya/rum_wardrobe_pick.html"> Новые правила летнего гардероба </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/akcii-i-predlozheniya/rum_sandal_and_espadrills.html"> Сандалии и эспадрильи </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/akcii-i-predlozheniya/mr65-top-12.html"> Топ 12 </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/akcii-i-predlozheniya/online-exclusive.html"> Эксклюзивно онлайн </a> </li>
                            </ul>
                        </div>
                        <div class="section-menu-category">
                            <h4 class=""> <span>Наши тренды</span> </h4>
                            <ul style="display: block;">
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-fason/8uk-beat-the-heat.html"> Для жаркой погоды </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-fason/8ve-beach-essentials.html"> Все для пляжа </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-fason/8uh-dapper-days.html"> Dapper Days </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-fason/8td-run-for-it.html"> Бегом марш! </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-fason/conscious-exclusive-2017-men.html"> Conscious Exclusive </a> </li>
                            </ul>
                        </div>
                        <div class="section-menu-category">
                            <h4 class=""> <span>Выбрать коллекцию</span> </h4>
                            <ul style="display: block;">
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kollekciyu/modern-classic.html"> Modern Classic </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kollekciyu/trend.html"> Trend </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kollekciyu/divided.html"> Divided </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kollekciyu/bazovye-modeli.html"> Базовые модели </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kollekciyu/premium-quality.html"> Premium Quality </a> </li>
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/vybrat-kollekciyu/conscious.html"> Conscious – Экологичный стиль </a> </li>
                            </ul>
                        </div>
                        <div class="section-menu-category">
                            <h4 class=""> <span>#HM Gallery</span> </h4>
                            <ul style="display: block;">
                                <li class="section-menu-subdepartment "> <a href="http://www2.hm.com/ru_ru/muzhchiny/hmgallery/h-m-gallery.html"> #HM Gallery </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>