<div class="cookie-notification  ">
    <p>
        H&amp;M использует cookie-файлы для того, чтобы Ваши впечатления от покупок на нашем сайте были
        максимально положительными. Если Вы продолжите пользоваться нашими услугами, мы будем считать, что Вы согласны с использованием cookie-файлов.
        Узнайте подробнее о cookie-файлах и <a href="http://www2.hm.com/ru_ru/customer-service/legal-and-privacy/privacy-link.html" class="link">о том, как можно отказаться от их использования.</a>
    </p>
    <button type="button" class="close icon-close-white js-close">Закрыть</button>
</div>