<nav class="services-menu">
    <div class="linklist parbase linklist1">
        <ul class="list">
            <li class="item">
                <a class="link" href="http://www2.hm.com/ru_ru/customer-service.html">Служба поддержки покупателей</a>
            </li>
            <li class="item">
                <a class="link" href="http://www2.hm.com/ru_ru/customer-service/newsletter.html">Новостная рассылка</a>
            </li>
        </ul>
    </div>
    <div class="linklist parbase linklist2">
        <ul class="list">
            <li class="item">
                <a class="link" href="http://www2.hm.com/ru_ru/customer-service/shopping-at-hm/store-locator.html">Найти магазин</a>
            </li>
            <li class="item">
                <a class="link" href="http://www2.hm.com/ru_ru/customer-service/download-app.html">Скачать приложение</a>
            </li>
        </ul>
    </div>
</nav>