<div class="signin rollover-popdown" data-target="click">
    <div class="parbase account">
        <div class="signin rollover-popdown" data-target="click">
            {{# if session.passport.user}}
            <div class="signin-signed-in">
                <span class="greeting-text"> 
                    <a class="goto-signed-in" href="/user/profile" > Добрый день, {{user}}</a>
                </span>
                <a class="goto-sign-in" href="/user/logout">Выйти</a>
            </div>
            {{else
}}
            <div class="signin-not-signed-in">
                <a class="goto-my-hm" href="https://www2.hm.com/ru_ru/my-account">Мой H&amp;M</a>
                <a href="/user/signup" class="js-open-signin-signup">Зарегистрироваться / Войти</a>
                <div class="signin-rollover popdown row">
                    <div class="inner">
                        <div class="signin-rollover-login">
                            <form class="responsive form-section" method="post" action="/user/signin">
                                <h3>Войти</h3>
                                <div class="input-group">
                                    <label for="email">Эл. почта:</label>
                                    <input type="email" value="" id="email" name="email">
                                </div>
                                <div class="input-group">
                                    <label for="password">Пароль:</label>
                                    <input type="password" value="" id="email" name="password">
                                </div>
                                <input type="hidden" value="{{csrfToken}}" name="_csrf" />
                                {{csrfToken}}
                                <div class="input-group">
                                    <input type="button" class="button-big signin-button" value="Войти" />
                                    <p>
                                        <a href="/user/forgot-password" class="underline">Забыли пароль?</a>
                                    </p>
                                </div>
                                <div class="input-group join">
                                    <a type="button" href="/user/signup" class="large fluid secondary button">ПРИСОЕДИНЯЙТЕСЬ К НАМ </a>
                                </div>
                            </form>
                        </div>
                        <div class="signin-rollover-join">
                            <section class="responsive create-account popdown-form">
                                <form action="https://www2.hm.com/ru_ru/register/newcustomer" onsubmit="trackSubmitJoin()" method="POST" class="responsive form-section">
                                    <fieldset class="form-part">
                                        <legend class="heading">Создать учетную запись H&amp;M </legend>
                                        <div class="inputwrapper">
                                            <label class="form-label" for="txt-signin-rollover-join-email">Эл. почта:</label>
                                            <input type="email" class="email-input" name="email" id="txt-signin-rollover-join-email" value="" data-validation-email="true" data-validation-required="true" data-validation-required-text="Вы должны указать адрес электронной почты">
                                        </div>
                                        <div class="inputwrapper">
                                            <label class="form-label" for="txt-signin-rollover-join-password">Пароль:</label>
                                            <input type="password" name="pwd" id="txt-signin-rollover-join-password" class="password-input" data-validation-required="true" data-validation-required-text="Вы должны подтвердить Ваш пароль" data-validation-minlength="6" data-validation-minlength-text="Пароль должен содержать минимум 6 символов" data-validation-maxlength="25" data-validation-maxlength-text="Пароль слишком длинный. Максимально допустимое количество символов — 25" data-validation-nospaces="true" data-validation-nospaces-text="Пароль не должен содержать пробелы">
                                        </div>
                                        <div class="inputwrapper">
                                            <label class="form-label" for="txt-signin-rollover-join-password-confirm">Подтвердить пароль:</label>
                                            <input type="password" id="txt-signin-rollover-join-password-confirm" name="checkPwd" class="password-input" data-validation-required="true" data-validation-required-text="Вы должны подтвердить Ваш пароль" data-validation-confirm-id="txt-signin-rollover-join-password" data-validation-confirm-text="Ваш пароль и повторно указанный Вами пароль не совпадают">
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-part">
                                        <ul class="input-list">
                                            <li id="account-exclusiveofferstext-checkbox" class="inputwrapper account-exclusiveofferstext-checkbox">
                                                <input type="checkbox" class="checkbox-input" id="chb-signin-rollover-join-offers" name="hmNewsSubscription">
                                                <label class="checkbox-label" for="chb-signin-rollover-join-offers">
                                                    Я хочу получать сообщения об эксклюзивных предложениях и новостях на свою почту и мне больше 16 лет.&nbsp;
                                                </label>
                                            </li>
                                            <li class="inputwrapper">
                                                <input type="checkbox" class="checkbox-input" id="chb-signin-rollover-join-terms" name="termsAndConditions" data-validation-required="true">
                                                <label class="checkbox-label" for="chb-signin-rollover-join-terms">
                                                    <span id="privacy-policy"><a href="http://www2.hm.com/ru_ru/customer-service/privacy-link.html" class="underline overlay-trigger">Да, я соглашаюсь с политикой конфиденциальности</a></span>
                                                    <span id="club-terms" class="hidden">I accept the H&amp;M Club {0}Terms &amp; conditions{1} and I am xx years old. I want to receive newsletters including fashion, inspiration and offers, and I accept the {0}Privacy Policy{1}.</span>
                                                </label>
                                            </li>
                                        </ul>
                                        <div class="button-group">
                                            <button type="submit" class="button large" data-validation-text="Эту форму не удалось отправить. Пожалуйста, проверьте указанную Вами информацию">ПРИСОЕДИНЯЙТЕСЬ К НАМ</button>
                                            <button type="button" class="big secondary button large" onclick="trackClickButtonBack()">ВЕРНУТЬСЯ, ЧТОБЫ ВОЙТИ</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>